filestore/build/*
/build/*
cache/runescape718/build/*
cache/runescape718/repo/*
cache/common/build/*
cache/osrs/build/*
cache/osrs/repo/*
tools/build/*
/.gradle/
/.idea/

*.class
/mappings
/objects
/models
/test
/core/buffer/build
/core/filesystem/build
/core/build
/definition/build
/definition/osrs/build
/definition/r718/build
/filestore/r718/build
/filestore/osrs/build
/filestore/osrs-fs/build
/filestore/r718-fs/build
/cache/build
/filesystem/build
/displee/build
