filestore/build/*
/build/*
cache/runescape718/build/*
cache/runescape718/repo/*
cache/common/build/*
cache/osrs/build/*
cache/osrs/repo/*
tools/build/*
/.gradle/
/.idea/

*.class
/mappings
/objects
/models
/test
/core/buffer/build
/core/filesystem/build
/core/build
